streamlit
reportlab
openpyxl
pandas
psycopg2-binary
openpyxl
google-api-python-client
google-auth
pypdf
streamlit>=1.30
docxtpl>=0.16.7
python-docx>=1.1.0
boto3
Pillow
streamlit-drawable-canvas
numpy
reportlab
streamlit-drawable-canvas
