streamlit
psycopg2-binary
pandas==2.2.2
reportlab
openpyxl
google-api-python-client
google-auth
pypdf
docxtpl>=0.16.7
python-docx>=1.1.0
boto3
streamlit-drawable-canvas
matplotlib
openai
soundfile==0.12.1
pydub==0.25.1
streamlit-webrtc
aiortc
mediapipe==0.10.32
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow
opencv-python-headless==4.8.1.78
